{% spaceless %}
<div> 
    <ul id="observation-add-tab" class="nav nav-tabs">
        <li class="active"><a href="#message" data-toggle="tab">Message</a></li>
        {% if app.user.isAgent() %}
            {% if ticket.service.id == 1 %}
            <li><a href="#intervention" data-toggle="tab">Investigation</a></li>
            {% elseif ticket.service.id == 2%}
            <li><a href="#logistic" data-toggle="tab">Logistic</a></li>
            {% endif %}
        {% endif %}
    </ul>
    <div id="observation-add-contents" class="tab-content">
        <div class="tab-pane fade in active" id="message">
            <form action="{{ path(prefix~'_observation_add', { 'id' : id }) }}" method="post" {{ form_enctype(observation_add_form) }}>
                {{ form_row(observation_add_form.message_message, {'label':'Message'}) }}
                <input type="hidden" name="add-to-id" value="{{ add_to_id }}">
                <input type="hidden" name="type" value="message">
                <button type="submit" class="btn btn-primary">button</button>
            </form>
        </div>
        {% if app.user.isAgent() %}
            {% if ticket.service.id == 1 %}
            <div class="tab-pane fade" id="intervention">
                <form class="form-horizontal" action="{{ path(prefix~'_observation_add', { 'id' : id }) }}" method="post" {{ form_enctype(observation_add_form) }}>
                    {{ form_row(observation_add_form.intervention_site) }}
                    {{ form_row(observation_add_form.intervention_category) }}
                    {{ form_row(observation_add_form.intervention_from) }}
                    {{ form_row(observation_add_form.intervention_to) }}
                    {{ form_row(observation_add_form.intervention_agent) }}
                    {{ form_row(observation_add_form.intervention_report) }}
                    <input type="hidden" name="type" value="intervention">
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
            {% elseif ticket.service.id == 2%}
            <div class="tab-pane fade" id="logistic">
                <form action="{{ path(prefix~'_observation_add', { 'id' : id }) }}" method="post" {{ form_enctype(observation_add_form) }}>
                    {{ form_row(observation_add_form.logistic_by) }}
                    {{ form_row(observation_add_form.logistic_at) }}
                    {{ form_row(observation_add_form.logistic_package_name) }}
                    {{ form_row(observation_add_form.logistic_operation) }}
                    {{ form_row(observation_add_form.logistic_operator) }}
                    <input type="hidden" name="type" value="logistic">
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>
<hr>
<script>
/*
    $('ul#observation-add-tab > li > a').click(function(e) {
        $(window).scrollTop(400);
    });

    $('ul#observation-add-tab > li > a').click(function(e) {
        $(window).scrollTop(400);
    });
*/

    // type ahead
    addTypeaheadLocation($('input#form_intervention_site'));

    // add jquery-ui datepicker
    $('input#form_logistic_at').datepicker({
        defaultDate: 0,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        numberOfMonth: 1,
    });
    $('input#form_intervention_from_date').datepicker({
        defaultDate: 0,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        numberOfMonth: 1,
        onClose: function(selectedDate) {
            var to = $('input#form_intervention_to_date');
            if(to.val() == '') {
                to.val($(this).val());
            }else{
                to.datepicker("option", "minDate", selectedDate);
            }
        }
    });
    $('input#form_intervention_to_date').datepicker({
        defaultDate: 0,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        numberOfMonth: 1,
        onClose: function(selectedDate) {
            var from = $('input#form_intervention_from_date');
            if(from.val() == '') {
                from.val($(this).val());
            }else{
                from.datepicker("option", "maxDate", selectedDate);
            }
        }
    });
</script>
{% endspaceless %}
