<div id="observation-list">
    <div id="observation-plugin">
    {% include 'FTFSServiceBundle:ServiceTicketObservation:plugin.html.twig' %}
    </div>
    <h4>All Observations</h4>
    <table class="table table-striped" width="100%">
        <!-- new observation -->
        <tr id="observation-add-target" class="hide">
            <th width="10%" class="observation-send-by">
                <i class="icon-user"></i>
                {{ (prefix~'.observation.user.me')|trans({}, 'crud') }}
            </th>
            <td width="80%">
                    <div id="observation-add-ajax">
                    <!-- loaded by ajax -->
                    {# 
                        'FTFSServiceBundle:ServiceTicketObservation:add_form.html.twig' 
                    #}
                    </div>
            </td>
            <td width="10%"></td>
        </tr>

        <!-- list of observations -->
        {% if observations|length == 0 %}
        <tr>{{ (prefix~'.observation.empty.list')|trans({}, 'crud') }}</tr>
        {% else %}
        {% for ob in observations|reverse %}
        <tr class="observation">
            <th width="10%" class="observation-send-by">
                <i class="icon-user"></i>
                {% if ob.sendBy == app.user %}
                    {{ (prefix~'.observation.user.me')|trans({}, 'crud') }}
                {% else %}
                    {{ ob.sendBy }}
                {% endif %}
            </th>
            <td width="80%">
                <div>
                <span class="observation-send-at">
                {% if ob.sendAt is not empty %} {{ ob.sendAt | date('Y-m-d H:i:s') }}{% endif %} 
                </span>
                <a class="observation-add" add-to-id="{{ ob.id }}" href="#">
                    <i class="icon-share"></i>
                </a>
                <a class="observation-attachment-upload" add-to-id="{{ ob.id }}" href="#">
                    <i class="icon-upload"></i>
                </a></div>
                <div class="observation-content">
                {% include 'FTFSServiceBundle:ServiceTicketObservation:content.html.twig' with { 'ob' : ob } %}
                </div>
                <div class="hide" id="upload-form-{{ ob.id }}">upload frame</div>
            </td>
            <td width="10%"></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
<script>
    $('a.observation-add').click(function() {

        var add_to_id = $(this).attr('add-to-id');

        // loading observation form to 'div#observation-add-ajax'
        $.get("{{ path(prefix~'_observation_add', {'id' : entity.id }) }}", "add-to-id="+add_to_id, function(data) {
            $('#observation-add-target').hide();
            $('div#observation-add-ajax').html(data);
            $('#observation-add-target').show();
        });
    });
    $('a.observation-attachment-upload').click(function(e) {
        e.preventDefault();
        var add_to_id = $(this).attr('add-to-id');
        var target = $('#upload-form-'+add_to_id);
        var action = "{{ path('ftfs_dashboardbundle_myservice_observation_attachment_upload', { 'id':entity.id,'obid':'_obid' }) }}";
        action = action.replace(/_obid/, add_to_id);
        action_esc = escape(action);
        //alert(action_esc);
        $.get(action, { 'action':action_esc }, function(data) { 
            //alert(data);
            target.html(data);
            target.show();
        });
    });
</script>
