{# event sent from an action of a client #}
{% if 'ROLE_CLIENT' in actor.roles %}
    <p>We are very sorry but this is a spam message which normally you should never receive. Please contact our agents if you keep receiving this email.</p>
    <p>spam code: 7164</p>
{# event sent from an action of an agent #}
{% else %}
    {# confirmation of action for a agent to himself #}
    {% if actor == destinaire %}
        {% if actor == subject.assignedTo %}
        <p>This message is to confirm you that you have successfully taken from {{ action.change_set['assigned_to'][0] }} a service ticket named <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> of {{ subject.requestedBy }} at {{ acted_at }}.</p>
        {% else %}
        <p>This message is to confirm you that you have successfully reassigned a service ticket named <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> of {{ subject.requestedBy }} from {{ action.change_set['assigned_to'][0] }} to {{ subject.assignedTo }} at {{ acted_at }}.</p>
        {% endif %}
    {# information of action for ther service ticket owner #}
    {% elseif destinaire == subject.requestedBy %}
    <p>We are very sorry but this is a spam message which normally you should never receive. Please contact our agents if you keep receiving this email.</p>
    <p>spam code: 5948</p>
    {# information of action for other observator #}
    {% else %}
        {% if actor == subject.assignedTo %}
        <p>This message is to inform you that {{ actor }} has taken from {{ action.change_set['assigned_to'][0] }} the service ticket named <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> of {{ subject.requestedBy }} at {{ acted_at }}.</p>
        {% else %}
        <p>This message is to inform you that {{ actor }} has reassigned the service ticket named <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> of {{ subject.requestedBy }} from {{ action.change_set['assigned_to'][0] }} to {{ subject.assignedTo }} at {{ acted_at }}.</p>
        {% endif %}
    {% endif %}
{% endif %}
