{% if 'email' == method %}
    {# receiver is the actor #}
    {% if destinaire == actor %}
        {# self addressing #}
        {% if destinaire == action.observation_to %}
        <p>This message is to inform you that you have added an observation to your former observation concerning the ticket "{{ subject.name }}" at {{ acted_at }}, saying:<br> "{{ action.observation }}"</p>
        {% else %}
        <p>This message is to inform you that you have left {% if 'ROLE_CLIENT' in destinaire.roles and ('ROLE_AGENT' in actor.roles or 'ROLE_ADMIN' in actor.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{ actor }}{% endif %} an observation concerning the ticket "{{ subject.name }}" at {{ acted_at }}, saying:<br> "{{ action.observation }}"</p>
        {% endif %}
    {# receiver is the destinaire #}
    {% elseif destinaire == action.observation_to %}
        <p>This message is to inform you that {% if 'ROLE_CLIENT' in destinaire.roles and ('ROLE_AGENT' in actor.roles or 'ROLE_ADMIN' in actor.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{ actor }}{% endif %} has left you an observation concerning the ticket "{{ subject.name }}" at {{ acted_at }}, saying:<br> "{{ action.observation }}"</p>
    {% else %}
        <p>This message is to inform you that {% if 'ROLE_CLIENT' in destinaire.roles and ('ROLE_AGENT' in actor.roles or 'ROLE_ADMIN' in actor.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{ actor }}{% endif %} has left {% if 'ROLE_CLIENT' in destinaire.roles and ('ROLE_AGENT' in action.observation_to.roles or 'ROLE_ADMIN' in action.observation_to.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{
            action.observation_to }}{% endif %}
        an observation concerning the ticket "{{ subject.name }}" at {{ acted_at }}, saying:<br> "{{ action.observation }}"</p>
    {% endif %}
{% else %}
    Event {{ event_key }}, by {{ acted_by }} at {{ acted_at }}.
{% endif %}
