{# from agent #}
{% if actor.isAgent() %}
{# from client #}
{% else %}
    {# to himself #}
    {% if actor == destinaire %}
    <p>This is to confirm you that you have {% if subject.status == 'submitted' %}submitted{% else %}created{% endif %} the ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>, Client Reference Number: "{{ subject.referenceClient }}").</p>
    {# to ticket owner #}
    {# to other agent #}
    {% elseif destinaire.isAgent() %}
    <p>{{ actor }} has {% if subject.status == 'submitted' %}submitted{% else %}created{% endif %} the service ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>, Client Reference Number: "{{ subject.referenceClient }}") at {{ acted_at }}. Please examin this request as soon as possible.</p>
    {# to others #}
    {% else %}
    <p>{{ actor }} has {% if subject.status == 'submitted' %}submitted{% else %}created{% endif %} the ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>, Client Reference Number: "{{ subject.referenceClient }}") at {{ acted_at }}.</p>
    {% endif %}
{% endif %}
    <p>You can review and modify this ticket in our system by the reference no. <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>.</p>
