{# event sent from an action of a client #}
{% if 'ROLE_CLIENT' in actor.roles %}
    {# confirmation of action for a client to himself #}
    {% if actor == destinaire %}
    <p>This message is to confirm you that you have added an observation {% if action.observation_to == destinaire %}to your former observation{% elseif action.observation_to is null %}{% else %}to {{ action.observation_to }}'s observation{% endif %} concerning the service ticket <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> at {{ acted_at }}, saying:<br> "{% include 'FTFSNotificationBundle:Message:message_observation_rendering.txt.twig' %}"</p>
    {# information of action for other observator #}
    {% else %}
    <p>This message is to inform you that {{ actor }} have added an observation {% if action.observation_to == destinaire %}to your former observation{% elseif action.observation_to is null %}{% else %}to {{ action.observation_to }}'s observation{% endif %} concerning the service ticket <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> at {{ acted_at }}, saying:<br> "{% include 'FTFSNotificationBundle:Message:message_observation_rendering.txt.twig' %}"</p>
    {% endif %}
{# event sent from an action of an agent #}
{% else %}
    {# confirmation of action for a agent to himself #}
    {% if actor == destinaire %}
    <p>This message is to inform you that you have added an observation {% if action.observation_to == destinaire %}to your former observation{% elseif action.observation_to is null %}{% else %}to {{ action.observation_to }}'s observation{% endif %} concerning the service ticket <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> at {{ acted_at }}, saying:<br> "{% include 'FTFSNotificationBundle:Message:message_observation_rendering.txt.twig' %}"</p>
    {# information of action for ther service ticket owner #}
    {% elseif destinaire == subject.requestedBy %}
    <p>This message is to inform you that we have added an observation {% if action.observation_to == destinaire %}to our former observation{% elseif action.observation_to is null %}{% else %}to {{ action.observation_to }}'s observation{% endif %} concerning the service ticket <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> at {{ acted_at }}, saying:<br> "{% include 'FTFSNotificationBundle:Message:message_observation_rendering.txt.twig' %}"</p>
    {# information of action for other observator #}
    {% else %}
    <p>This message is to inform you that {{ actor }} have added an observation {% if action.observation_to == actor %}to his former observation{% elseif action.observation_to is null %}{% else %}to {{ action.observation_to }}'s observation{% endif %} concerning the service ticket <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> at {{ acted_at }}, saying:<br> "{% include 'FTFSNotificationBundle:Message:message_observation_rendering.txt.twig' %}"</p>
    {% endif %}
{% endif %}
