{% if 'email' == method %}
    <p>This message is to inform you that your ticket of number "{{ subject.name }}" has been modified by {% if 'ROLE_CLIENT' in destinaire.roles and ('ROLE_AGENT' in destinaire.roles or 'ROLE_ADMIN' in actor.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{ actor }}{% endif %} at {{ acted_at }}.</p>
    <p><ul>
    {% for fieldname, fieldchange in action.change_set %}
        {% if fieldname in ['severity', 'priority'] %}
        <li>[{{ ('ftfs_serviceticket.'~fieldname~'.title')|trans({}, 'notification') }}] changed from "{{ ('ftfs_serviceticket.'~fieldname~'.'~fieldchange[0])|trans({}, 'notification') }}" to "{{ ('ftfs_serviceticket.'~fieldname~'.'~fieldchange[1])|trans({}, 'notification') }}"</li>
        {% elseif fieldname == 'assigned_to' %}
        <li>The service ticket has been reassigned from [{{ ('ftfs_serviceticket.'~fieldname)|trans({}, 'notification') }}]: from "{{ fieldchange[0] }}" to "{{ fieldchange[1] }}"</li>
        {% elseif fieldname == 'requested_by' %}
        <li>The owner of the service ticket has been changed from [{{ ('ftfs_serviceticket.'~fieldname)|trans({}, 'notification') }}]: from "{{ fieldchange[0] }}" to "{{ fieldchange[1] }}"</li>
        {% else %}
        <li>[{{ ('ftfs_serviceticket.'~fieldname)|trans({}, 'notification') }}]: from "{{ fieldchange[0] }}" to "{{ fieldchange[1] }}"</li>
        {% endif %}
    {% endfor %}
    </ul></p>
{% else %}
    Event {{ event_key }}, by {{ acted_by }} at {{ acted_at }}.
{% endif %}
