{# event sent from an action of a client #}
{% if 'ROLE_CLIENT' in actor.roles %}
    <p>We are very sorry but this is a spam message which normally you should never receive. Please contact our agents if you keep receiving this email.</p>
    <p>spam code: 7614</p>
{# event sent from an action of an agent #}
{% else %}
    {# confirmation of action for a agent to himself #}
    {% if actor == destinaire %}
        {% if actor == subject.assignedTo %}
        <p>This message is to confirm you that you have successfully taken a service ticket named <a class="btn btn-mini" href="{{ subject_href }}">"{{ subject.name }}"</a>.</p>
        {% else %}
        <p>This message is to confirm you that you have successfully assign a service ticket named <a class="btn btn-mini" href="{{ subject_href }}">"{{ subject.name }}"</a> to {{ subject.assignedTo }}.</p>
        {% endif %}
    {# information of action for ther service ticket owner #}
    {% elseif destinaire == subject.requestedBy %}
    <p>We are very sorry but this is a spam message which normally you should never receive. Please contact our agents if you keep receiving this email.</p>
    <p>spam code: 5498</p>
    {# information of action for other observator #}
    {% else %}
        {% if actor == subject.assignedTo %}
        <p>This message is to inform you that {{ actor }} has taken the service ticket named <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> of {{ subject.requestedBy }} at {{ acted_at }}.</p>
        {% else %}
        <p>This message is to inform you that {{ actor }} has assigned to {{ subject.assignedTo }}the service ticket named <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a> of {{ subject.requestedBy }} at {{ acted_at }}.</p>
        {% endif %}
    {% endif %}
{% endif %}
