{# from agent #}
{% if actor.isAgent() %}
    {# to himself #}
    {% if actor == destinaire %}
    <p>This is to confirm you that you have modified the ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>) of {{ subject.requestedBy }}.</p>
    {# to ticket owner #}
    {% elseif destinaire == subject.requestedBy %}
    <p>This is to inform you that we have modified your ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>).</p>
    {# to other agent #}
    {# to others #}
    {% else %}
    <p>{{ actor }} has modified the ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>) at {{ acted_at }}.</p>
    {% endif %}
{# from client #}
{% else %}
    {# to himself #}
    {% if actor == destinaire %}
    <p>This is to confirm you that you have modified the ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>).</p>
    {# to ticket owner #}
    {% elseif destinaire == subject.assignedTo %}
    <p>{{ actor }} has modified the service ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>) at {{ acted_at }}. Please examin this request as soon as possible.</p>
    {# to other agent #}
    {# to others #}
    {% else %}
    <p>{{ actor }} has modified the ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>) at {{ acted_at }}.</p>
    {% endif %}
{% endif %}

    <p><ul>
    {% for fieldname, fieldchange in action.change_set %}
        {% if fieldname in ['severity', 'priority'] %}
        <li>[{{ ('ftfs_serviceticket.'~fieldname~'.title')|trans({}, 'notification') }}] changed from: <br> 
        "{{ ('ftfs_serviceticket.'~fieldname~'.'~fieldchange[0])|trans({}, 'notification') }}"<br>
        to:<br>
        "{{ ('ftfs_serviceticket.'~fieldname~'.'~fieldchange[1])|trans({}, 'notification') }}"</li>
        {% elseif fieldname == 'assigned_to' %}
        <li>The service ticket has been reassigned: from "{{ fieldchange[0] }}" to "{{ fieldchange[1] }}"</li>
        {% elseif fieldname == 'requested_by' %}
        <li>The owner of the service ticket has been changed: from "{{ fieldchange[0] }}" to "{{ fieldchange[1] }}"</li>
        {% else %}
        <li>[{{ ('ftfs_serviceticket.'~fieldname)|trans({}, 'notification') }}] from: <br>
        "{{ fieldchange[0] }}"<br>
        to:<br>
        "{{ fieldchange[1] }}"</li>
        {% endif %}
    {% endfor %}
    </ul></p>

    <p>You can review and modify this ticket in our system by the reference no. <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>.</p>
