{# from agent #}
{% if actor.isAgent() %}
    {# to himself #}
    {% if actor == destinaire %}
    <p>This is to confirm you that you have reassigned the ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>) of {{ subject.requestedBy }}.</p>
    {# to ticket owner #}
    {% elseif destinaire == subject.requestedBy %}
    <p>This is to inform you that we have reassigned your ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>).</p>
    {# to other agent #}
    {# to others #}
    {% else %}
    <p>{{ actor }} has reassigned the ticket (Reference: <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>) at {{ acted_at }}.</p>
    {% endif %}
{# from client #}
{% else %}
    {# to himself #}
    {# to ticket owner #}
    {# to other agent #}
    {# to others #}
{% endif %}
    <p>You can review and modify this ticket in our system by the reference no. <a class="btn btn-min" href="{{ subject_href }}">"{{ subject.name }}"</a>.</p>
