<table width='75%' border='1' cellpadding='0' cellspacing='0' style='font-size:14px'>
    <!-- general service ticket info ------------------------------------------------------------>
    <tr bgcolor="#EEEEEE">
        <th colspan=2>General Information</th>
    </tr>
    <tr>
        <th>Reference No.</th>
        {% if subject_href is defined %}
        <td><a class="btn btn-mini" href="{{ subject_href }}">{{ subject.name }}</a></td>
        {% else %}
        <td>{{ subject.name }}</td>
        {% endif %}
    </tr>
    <tr>
        <th>Status</th><td>{% if subject.pending %}{{ ('ftfs_serviceticket.status.pending') | trans({}, 'notification') }}{% else %}{{ ('ftfs_serviceticket.status.'~subject.status) | trans({}, 'notification') }}{% endif %}</td>
    </tr>
    <tr>
        <th>Severity</th><td>{{ ('ftfs_serviceticket.severity.'~subject.severity) | trans({}, 'notification') }}</td>
    </tr>
    <tr>
        <th>Priority</th><td>{{ ('ftfs_serviceticket.priority.'~subject.priority) | trans({}, 'notification') }}</td>
    </tr>
    <tr>
        <th>Last Modified At</th><td>{{ subject.lastModifiedAt | date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Service Type</th><td>{{ subject.service.name }}</td>
    </tr>
    <tr>
        <th>Requested By</th><td>{{ subject.requestedBy }}</td>
    </tr>
    <tr>
        <th>Requested Via</th><td>{{ subject.requestedVia }}</td>
    </tr>
    <tr>
        <th>Requested At</th><td>{{ subject.requestedAt | date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Ticket Created At</th><td>{{ subject.createdAt | date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Ticket Opened At</th><td>{{ subject.openedAt | date('Y-m-d H:i:s') }}</td>
    </tr>

    <!-- summary descritpion  ------------------------------------------------------------------>
    <tr bgcolor="#EEEEEE">
        <th colspan=2>Problem Summary Description</th>        
    </tr>
    <tr>
        <td colspan=2>"{{ subject.summary }}"</td>
    </tr>

    <!-- devices  ------------------------------------------------------------------------------>
    {% if (subject.devices)|length > 0 %}
    <tr bgcolor="#EEEEEE">
        <th colspan=2>Related Devices</th>
    </tr>
    {% for device in subject.devices %}
    <tr>
        <th>Local Site</th><td>{{ device.localSite }}</td>
    </tr>
    <tr>
        <th>Remote Site</th><td>{{ device.remoteSite }}</td>
    </tr>
    <tr>
        <th>Product</th><td>{{ device.product }}</td>
    </tr>
    <tr>
        <th>Module Name</th><td>{{ device.moduleName }}</td>
    </tr>
    <tr>
        <th>Module P/N</th><td>{{ device.modulePn }}</td>
    </tr>
    <tr>
        <th>Module S/N</th><td>{{ device.moduleSn }}</td>
    </tr>
    <tr>
        <th>Additional Info</th><td>{{ device.specification }}</td>
    </tr>
    {% endfor %}
    {% endif %}

    <!-- detail descritpion  ------------------------------------------------------------------>
    <tr bgcolor="#EEEEEE">
        <th colspan=2>Problem Detail Description</th>
    </tr>
    <tr>
        <td colspan=2>"{{ subject.detail }}"</td>
    </tr>

    <!-- attachments -------------------------------------------------------------------------->
    {% if (subject.attachments)|length > 0 %}
    <tr bgcolor="#EEEEEE">
        <th colspan=2>Attached Documents</th>
    </tr>
    {% for attachment in subject.attachments %}
    <tr>
        <th>{{ attachment.uploadedAt | date('Y-m-d H:i:s') }}</th><td>{{ attachment.name }} by {{ attachment.uploadedBy }}</td>
    </tr>
    {% endfor %}
    {% endif %}

    <!-- observation -------------------------------------------------------------------------->
    {% if subject.service.id == 1 %}
        <tr bgcolor="#EEEEEE">
            <th colspan=2>Investigation</th>
        </tr>
        {% for ob in subject.observations | reverse if ob.content['type'] == 'intervention' %}
        {% set content = ob.content %}
        <tr>
            <th>{{ content.from }}</th>
            <td>{{ content.agent }} finished an investigation at {{ content.site }} from {{ content.from }} to {{ content.to }}. {{ content.report }}</td>
        </tr>
        {% endfor %}
    {% elseif subject.service.id == 2 %}
        <tr bgcolor="#EEEEEE">
            <th colspan=2>Logistics</th>
        </tr>
        {% for ob in subject.observations | reverse if ob.content['type'] == 'logistics' %}
        {% set content = ob.content %}
        <tr>
            <td colspan=2>under dev...</td>
        </tr>
        {% endfor %}
    {% endif%}

    <!-- resolution  ------------------------------------------------------------------------>
    <tr bgcolor="#EEEEEE">
        <th colspan=2>Resolution</th>
    </tr>
    {% for ob in subject.observations | reverse if ob.content['type'] == 'close_report' %}
    {% set content = ob.content %}
    <tr>
        <th>{{ ob.sendAt | date('Y-m-d H:i:s') }}</th>
        <td>by {{ ob.sendBy.getFullName() }}: {{ content.report }}</td>
    </tr>
    {% endfor %}

    <!-- change log  ------------------------------------------------------------------------>
    <tr bgcolor="#EEEEEE">
        <th colspan=2>Key Change Log</th>
    </tr>
    {% for record in timer | reverse %}
    <tr>
        <th>{{ record.quand | date('Y-m-d H:i:s') }}</th>
        <td>{{ record.quoi }} by {{ record.qui }}. {{ record.pourquoi }}</td>
    </tr>
    {% endfor %}
</table>
