{# ######################################################################################## #}
{% if 'event.serviceticket.show' == action %}
    {% if 'system' == method %}
    {% elseif 'email' == method %}
    {% elseif 'sms' == method %}
    {% else %}
    {% endif %}
{# ######################################################################################## #}
{% elseif 'event.serviceticket.create' == action %}
        {% if 'ROLE_CLIENT' in visited_by.roles %}
            {% if visited_by == notified_to %}
            <p>You have recently requested a service from FTFS Support Service. This demand has been well registered in our system. Our agents will examin your problem and contact you as soon as possible.</p>
            {% else %}
            <p>Mr client has requested a service. Here's the details. Please examin this request as soon as possible.</p>
            {% endif %}
        {% else %}
            {% if visited_by == notified_to %}
            <p>This message is to confirm that you have successfully opened a service for our client Mr client.</p>
            {% elseif notified_to == 'ticket owner' %}
            <p>This message is to confirm you that we have opened a service ticket for you as requested.</p>
            {% else %}
            <p>Agent balblabal has opened a service ticket for Mr client.</p>
            {% endif %}
        {% endif %}
        <p>Service Request Details</p>
{# ######################################################################################## #}
{% elseif 'event.serviceticket.update' == action %}
    {% if 'email' == method %}
        <p>This message is to inform you that your ticket of number "{{ service_ticket }}" has been modified by {% if 'ROLE_CLIENT' in notified_to.roles and ('ROLE_AGENT' in visited_by.roles or 'ROLE_ADMIN' in visited_by.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{ visited_by }}{% endif %} at {{ visited_at }}.</p>
        <p><ul>
        {% for fieldname, fieldchange in change_set %}
            {% if fieldname in ['severity', 'priority'] %}
            <li>[{{ ('ftfs_serviceticket.'~fieldname~'.title')|trans({}, 'notification') }}] changed from "{{ ('ftfs_serviceticket.'~fieldname~'.'~fieldchange[0])|trans({}, 'notification') }}" to "{{ ('ftfs_serviceticket.'~fieldname~'.'~fieldchange[1])|trans({}, 'notification') }}"</li>
            {% elseif fieldname == 'assigned_to' %}
            <li>The service ticket has been reassigned from [{{ ('ftfs_serviceticket.'~fieldname)|trans({}, 'notification') }}]: from "{{ fieldchange[0] }}" to "{{ fieldchange[1] }}"</li>
            {% elseif fieldname == 'requested_by' %}
            <li>The owner of the service ticket has been changed from [{{ ('ftfs_serviceticket.'~fieldname)|trans({}, 'notification') }}]: from "{{ fieldchange[0] }}" to "{{ fieldchange[1] }}"</li>
            {% else %}
            <li>[{{ ('ftfs_serviceticket.'~fieldname)|trans({}, 'notification') }}]: from "{{ fieldchange[0] }}" to "{{ fieldchange[1] }}"</li>
            {% endif %}
        {% endfor %}
        </ul></p>
    {% else %}
        Event {{ event_key }}, by {{ acted_by }} at {{ acted_at }}.
    {% endif %}
{# ######################################################################################## #}
{% elseif 'event.serviceticket.attachment_upload' == action %}
    {% if 'email' == method %}
        <p>This message is to inform you that {% if 'ROLE_CLIENT' in notified_to.roles and ('ROLE_AGENT' in visited_by.roles or 'ROLE_ADMIN' in visited_by.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{ visited_by }}{% endif %} has uploaded a document named "{{ attachment_name }}" to the ticket "{{ service_ticket }}" at {{ visited_at }}.</p>
        
    {% else %}
        Event {{ event_key }}, by {{ acted_by }} at {{ acted_at }}.
    {% endif %}
{# ######################################################################################## #}
{% elseif 'event.serviceticket.observation_add' == action %}
    {% if 'email' == method %}
        {# receiver is the actor #}
        {% if notified_to == visited_by %}
            {# self addressing #}
            {% if notified_to == observation_to %}
            <p>This message is to inform you that you have added an observation to your former observation concerning the ticket "{{ service_ticket }}" at {{ visited_at }}, saying:<br> "{{ observation }}"</p>
            {% else %}
            <p>This message is to inform you that you have left {% if 'ROLE_CLIENT' in notified_to.roles and ('ROLE_AGENT' in visited_by.roles or 'ROLE_ADMIN' in visited_by.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{ visited_by }}{% endif %} an observation concerning the ticket "{{ service_ticket }}" at {{ visited_at }}, saying:<br> "{{ observation }}"</p>
            {% endif %}
        {# receiver is the destinaire #}
        {% elseif notified_to == observation_to %}
            <p>This message is to inform you that {% if 'ROLE_CLIENT' in notified_to.roles and ('ROLE_AGENT' in visited_by.roles or 'ROLE_ADMIN' in visited_by.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{ visited_by }}{% endif %} has left you an observation concerning the ticket "{{ service_ticket }}" at {{ visited_at }}, saying:<br> "{{ observation }}"</p>
        {% else %}
            <p>This message is to inform you that {% if 'ROLE_CLIENT' in notified_to.roles and ('ROLE_AGENT' in visited_by.roles or 'ROLE_ADMIN' in visited_by.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{ visited_by }}{% endif %} has left {% if 'ROLE_CLIENT' in notified_to.roles and ('ROLE_AGENT' in observation_to.roles or 'ROLE_ADMIN' in observation_to.roles)%}{{ 'ftfs_serviceticket.masked_agent' | trans({}, 'notification') }}{% else %}{{ observation_to }}{% endif %} an observation concerning the ticket "{{ service_ticket }}" at {{ visited_at }}, saying:<br> "{{ observation }}"</p>
        {% endif %}
    {% else %}
        Event {{ event_key }}, by {{ acted_by }} at {{ acted_at }}.
    {% endif %}
{% endif %}
