<hr>
<p>
    Service Ticket No. : <a href="{{ subject_href }}">{{ subject.name }}</a><br>
    --------------------------------------------<br>
    Service Ticket Status: {{ subject.status }}<br>
    Last Modified At: {{ subject.lastModifiedAt | date('Y-m-d H:i:s') }}<br>
    Requested By: {{ subject.requestedBy }}<br>
    Requested At: {{ subject.requestedAt | date('Y-m-d H:i:s') }}<br>
    --------------------------------------------<br>
    Problem Summary Description:        <br>
    <br>
    "{{ subject.summary }}"             <br>
    --------------------------------------------<br>
    Problem Detail Description:         <br>
    <br>
    "{{ subject.detail }}"              <br>
    {% if (subject.attachments)|length > 0 %}
    --------------------------------------------<br>
    Attached Documents:                 <br>
    <ul>
    {% for attachment in subject.attachments %}
        <li>{{ attachment.name }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</p>
