{% extends "FTFSUserBundle::layout.html.twig" %}

{% block body_menu %}
{% include "FTFSUserBundle::body_menu.html.twig" %}
{% endblock %}

{% block body_content %}
<div class="fos_user_group_list">
    <dl>
    {% for group in groups %}
        <dt>
            <a href="{{ path('fos_user_group_delete', {'groupname': group.getName()}) }}"><i class="icon-trash"></i></a>
            <a href="{{ path('fos_user_group_edit', {'groupname': group.getName()}) }}"><i class="icon-edit"></i></a>
            <a href="{{ path('fos_user_group_show', {'groupname': group.getName()} ) }}">{{ group.getName() }}</a>
        </dt>
        <dd>
        {% for role in group.getRoles() %}
        {{ role }};
        {% endfor %}
        </dd>
        <br>
    {% endfor %}
    </dl>
</div>
{% endblock body_content %}
