{% extends "FOSUserBundle::layout.html.twig" %}

{% block body_menu %}
{% include "FTFSUserBundle::body_menu.html.twig" %}
{% endblock %}

{% block body_content %}
<div>
<a href="{{ path('fos_user_group_list') }}"><i class="icon-list"></i> List</a>
<a href={{ path('fos_user_group_edit', {'groupname': group.getName()}) }}><i class="icon-edit"></i>Edit</a>
<a href={{ path('fos_user_group_delete', {'groupname': group.getName()}) }}><i class="icon-trash"></i>Delete</a>
</div>
<div class="fos_user_group_show">
    <dl>
        <dt>{{ 'group.show.name'|trans([], 'FOSUserBundle') }}</dt>
        <dd>{{ group.getName() }}</dd>
        <dt>{{ 'group.show.roles'|trans([], 'FOSUserBundle') }}</dt>
        <dd>
        {% for role in group.getRoles() %}
            {{ role }};
        {% endfor %}
        </dd>
    </dl>
</div>
{% endblock %}
