{% extends 'FTFSCrudBundle:Crud:index_content.html.twig' %}

{% block thead %}
<th class="tight">{{ (prefix~'.table.name')|trans({}, 'crud') }}</th>
<th>{{ (prefix~'.table.client')|trans({}, 'crud') }}</th>
<th>{{ (prefix~'.table.installed_in')|trans({}, 'crud') }}</th>
{% endblock %}

{% block tbody %}
<td>{{ entity.name }}</td>
<td>{{ entity.client }}</td>
<td>{{ entity.installedIn }}</td>
{% endblock %}
