{% extends "FTFSUserBundle::layout.html.twig" %}

{% form_theme form theme %}

{% block body_menu %}
{% include "FTFSUserBundle:Profile:body_menu.html.twig" %}
{% endblock %}

{% block login_status %}
{% endblock %}

{% block fos_user_content %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <legend>{{ 'ftfs_userbundle_profile.change_password.title'|trans({}, 'crud') }}</legend>
    <fieldset>
        {{ form_row(form.current) }}
        {{ form_row(form.new.first) }}
        {{ form_row(form.new.second) }}
        {{ form_rest(form) }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{{ 'ftfs_userbundle_profile.change_password.submit'|trans({}, 'crud') }}" />
            <a class="btn" href="{{ path('fos_user_profile_show') }}">{{ 'ftfs_userbundle_profile.change_password.cancel'|trans({}, 'crud') }}</a>
        </div>
    </fieldset>
</form>
{% endblock fos_user_content %}
