{% extends 'FTFSUserBundle::layout.html.twig' %}

{% block body_menu %}
{% include 'FTFSUserBundle:Profile:body_menu.html.twig' %}
{% endblock %}

{% block body_content %}
    <legend>
        <span>{{ 'ftfs_preferencebundle.sharelist.table.legend' | trans() }}</span>
        <span class="pull-right"><a href="{{ path('ftfs_preferencebundle_default_ticket_sharelist_add', { 'id':user.id }) }}" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> {{ 'ftfs_preferencebundle.sharelist.table.add' | trans() }}</a></span>
    </legend>
    <table class="table table-bordered table-striped table-condensed table-smart">
        <thead>
            <tr>
                <th class="tight">#</th>
                <th class="tight">{{ 'ftfs_preferencebundle.sharelist.table.operation.title' | trans() }}</th>
                <th>{{ 'ftfs_preferencebundle.sharelist.table.contact' | trans() }}</th>
                <th>{{ 'ftfs_preferencebundle.sharelist.table.email' | trans() }}</th>
            </tr>
        </thead>
        <tbody>
            {% set i = 1 %}
            {% for email, name in sharelist %}
            <tr>
                <td class="tight">{{ i }}</td>
                <td class="tight">
                    <a href="{{ path('ftfs_preferencebundle_default_ticket_sharelist_edit', { 'id':user.id, 'email':email }) }}"><i class="icon-pencil"></i> {{ 'ftfs_preferencebundle.sharelist.table.operation.action.edit' | trans() }}</a>
                    <a href="{{ path('ftfs_preferencebundle_default_ticket_sharelist_remove', { 'id':user.id, 'email':email }) }}"><i class="icon-trash"></i> {{ 'ftfs_preferencebundle.sharelist.table.operation.action.delete' | trans() }}</a>
                </td>
                <td>{{ name }}</td>
                <td>{{ email }}</td>
            </tr>
            {% set i = i+1 %}
            {% endfor %}
        </tbody>
    </table>
{% endblock body_content %}

