{% extends 'FTFSUserBundle::layout.html.twig' %}

{% block body_menu %}
{% include 'FTFSUserBundle:Profile:body_menu.html.twig' %}
{% endblock %}

{% block body_content %}
    <legend>{{ 'ftfs_preferencebundle.sharelist.add.legend' | trans() }}</legend>
    <form class="form-horizontal" method="post">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'ftfs_preferencebundle.sharelist.add.submit' | trans() }}</button>
            <a href="{{ path('ftfs_preferencebundle_default_ticket_sharelist_index', {'id':user.id}) }}" class="btn">{{ 'ftfs_preferencebundle.sharelist.add.cancel' | trans() }}</a>
        </div>
    </form>
{% endblock body_content %}

