<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Welcome to Fujitsu Telecom France SAS{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- jquery lib -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <!-- le styles -->
        {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/addition.css') }}" rel="stylesheet">
        <link href="{{ asset('jquery-ui/css/smoothness/jquery-ui-1.9.1.custom.css') }}" rel="stylesheet">
        <style type="text/css">
            body { 
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
        <link href="{{ asset('css/bootstrap-responsive.css') }}" rel="stylesheet">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!-- [if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('ico/favicon.fujitsu.ico.png') }}">
        {% endblock %}
    </head>
    <body>
        <!-- header -->
        <header>
        {% block header %}
            <!-- header image -->
            {% block header_image %}
            {% endblock %}

            <!-- header navbar -->
            {% block navbar %}
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="#">{% block project_name %}FTFS Support{% endblock %}</a>
                        <!-- header navbar right side -->
                        <div class="pull-right">
                            <!-- header navbar session -->
                            <div class="btn-group">
                            {% block navbar_session %}
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} 
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="icon-user"></i> 
                                        <span>
                                        {{ app.user.title~' '~app.user.firstName~' '~app.user.surname }}
                                        </span>
                                        <span class="label label-inverse">
                                            <i class="icon-envelope icon-white"></i>
(<span id="notification-counter" url="{{ path('ftfs_notificationbundle_user_get_notification_count') }}">{% if app.session.has('counter-notification') %}{{ app.session.get('counter-notification') }}{% else %}...{% endif %}</span>)
                                        </span>
                                        &nbsp;
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('fos_user_profile_show') }}">
                                            <i class="icon-user"></i>
                                            {{ 'config_navbar.session.items.profile' | trans }}
                                        </a></li>
                                        <li><a href="{{ path('ftfs_preferencebundle_user_preference', { 'id' : app.user.id }) }}">
                                            <i class="icon-wrench"></i>
                                            {{ 'config_navbar.session.items.preferences' | trans }}
                                        </a></li>
                                        <li><a href="{{ path('ftfs_notificationbundle_user_index') }}">
                                            <i class="icon-envelope"></i>
                                            {{ 'config_navbar.session.items.notification_center' | trans }}
                                        </a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">
                                            <i class="icon-off"></i>
                                            {{ 'config_navbar.session.items.sign_out' | trans }}
                                        </a></li>
                                    </ul>
                                {% else %}
                                    <a class="btn" href="{{ path('fos_user_security_login') }}"><i class="icon-user"></i> Sign in</a>
                                {% endif %}
                            {% endblock %}
                            </div>
                        </div>

                        <!-- header navbar menu -->
                        <div class="nav-collapse">
                        {% block navbar_menu %}
                            <ul class="nav">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Home</a></li>
                            </ul>
                        {% endblock %}
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            {% endblock navbar %}
        {% endblock header %}
        </header>

        <!-- body -->
        <div class="container-fluid">
        {% block body %}
            <div class="hero-unit">
                <h1> Bienvenue chez Fujitsu-Télécom France SAS </h1>
            </div>
        {% endblock %}
        </div>

        <!-- footer -->
        <div class="container-fluid">
        <hr> 
        <footer>
        {% block footer %}
            <p class="pull-left">{% block version %}Version 0.4.0{% endblock %}</p> <p class="pull-right">&copy;Fujitsu Télécommunication France SAS 2012, All Rights Reserved</p>
        {% endblock %}
        </footer>
        </div>
					
        {% block javascript %}
        <!-- javascript -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>     
        <script src="{{ asset('jquery-ui/js/jquery-ui-1.9.1.custom.min.js') }}"></script>     
        <script src="{{ asset('js/bootbox.js') }}"></script>     
        <script src="{{ asset('js/addition.js') }}"></script>
        <!-- activate the menu item -->
        <script>
        // get ajax loading image
        // ToDo: deplace this function in addition.js
        function ajax_animation(target) {
            return $('<span><img src="{{ asset("img/ajax-loader.gif") }}"></span>')
                .prependTo(target)
            ;
        }

        $(document).ready(function () {
            // menu init
            // nav menu
            $('li.navbar-item').each(function() {
                var href = $(this).children('a').attr('href'); 
                if(href == "#") {
                    href = $(this).children('a').attr('pseudo-href');
                }
                if("{{ app.request.requestUri }}".match(href)) {
                    $(this).addClass('active');
                }else{
                    $(this).removeClass('active');
                }
            });
            // body menu
            $('li.navmenu-item').each(function() {
                var href = $(this).children('a').attr('href').split('?'); 
                href[1] = typeof href[1] === 'undefined' ? 'undefined' : href[1];
                var url = "{{ app.request.requestUri }}".split('?');
                url[1] = typeof url[1] === 'undefined' ? 'undefined' : url[1];
                if(url[0] === href[0] && url[1].match(href[1])) {
                    $(this).addClass('active');
                }else{
                    $(this).removeClass('active');
                }
            /*
                var href = $(this).children('a').attr('href'); 
                var url = "{{ app.request.requestUri }}";
                if((url.replace('?', '_and_')).match(href.replace('?', '_and_'))) {
                    $(this).addClass('active');
                }else{
                    $(this).removeClass('active');
                }
                */
            });
        });
        </script>
        {% endblock %}
    </body>
</html>
