{% if devices|length > 0 %}
<div id="devices">
    {{ (prefix~'.devices.title')|trans({}, 'crud') }}
    <ul>
    {% for device in devices %}
    <li>
        {% if entity.requestedBy == app.user or is_granted('ROLE_AGENT') %}
        <span>
            <a href="#" class="crud-action" crud-message="{{ (prefix~'.devices.delete.confirm')|trans({}, 'crud') }}" crud-toggle="{{ path(prefix~'_devices_delete', { 'id' : id, 'device_id' : device.id }) }}">
                <i class="icon-trash"></i>
            </a>
        </span>
        <span>
            <a href="#" class="device-modification" device-id={{ device.id }} ticket-id={{ entity.id }}>
                <i class="icon-pencil"></i>
            </a>
        </span>
        {% endif %}
        [{{ device.location }}][{{ device.product }}][{{ device.specification }}][{{ device.moduleName }}][{{ device.serialPn }}][{{ device.serialSn }}]
    </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if entity.requestedBy == app.user or entity.assignedTo == app.user %}
<div>
    <!-- devices add control toggle -->
    <span><a class="tic-tac" tic-tac-target="#devices-add" href="#">
        <span>
            <i class="icon-chevron-down"></i>
        </span>
        <span class="hide">
            <i class="icon-chevron-up"></i>
        </span>
        <span>
        {{ (prefix~'.devices.add.new')|trans({}, 'crud') }}
        </span>
        <span class="hide">
        {{ (prefix~'.devices.cancel.new')|trans({}, 'crud') }}
        </span>
    </a></span>
</div>
{% endif %}
<div id="devices-add" class="hide" callback="get_ajax_resource" method='get' url="{{ path(prefix~'_devices_add', {'id' : entity.id }) }}" callback-toggle="div#devices-add-ajax">
    <div id="devices-add-ajax">
    <!-- loaded by ajax -->
    {# 
    {% include 'FTFSServiceBundle:ServiceTicketdevices:devices.html.twig' 
            with { 'id' : id, 'prefix' : prefix, } %}
    #}
    </div>
</div>
<script>
    $('a.device-modification').click(function(e) {
        e.preventDefault();
        var target = $(this);
        var device_id = target.attr('device-id');
        var ticket_id = target.attr('ticket-id');
        var href = "{{ path(prefix~'_devices_edit', { 'device_id' : '_device_id', 'id' : '_ticket_id' }) }}";
        href = href.replace(/_device_id/, device_id);
        href = href.replace(/_ticket_id/, ticket_id);
        $.get(href, function(data) {
            target.parent().parent().html(data);
        });
    });
</script>
