{% if devices|length > 0 %}
<div id="devices">
    {{ (prefix~'.devices.title')|trans({}, 'crud') }}
    <ul>
    {% for device in devices %}
    <li>
        {% if entity.requestedBy == app.user or entity.assignedTo == app.user %}
        <span>
            <a href="#" class="device-modification" device-id={{ device.id }} ticket-id={{ entity.id }}>
                <i class="icon-pencil"></i>
            </a>
        </span>
        {% endif %}
        {{ 'ftfs_assetbundle_device.form.product' | trans() }} [{{ device.product }}]<br>
        {{ 'ftfs_assetbundle_device.form.local.site' | trans() }} [{{ device.localSite }}]<br> 
        {{ 'ftfs_assetbundle_device.form.remote.site' | trans() }} [{{ device.remoteSite }}]<br> 
        {{ 'ftfs_assetbundle_device.form.module.name' | trans() }} [{{ device.moduleName }}]<br>
        {{ 'ftfs_assetbundle_device.form.module.pn' | trans() }} [{{ device.modulePn }}]<br>
        {{ 'ftfs_assetbundle_device.form.module.sn' | trans() }} [{{ device.moduleSn }}]<br>
        {{ 'ftfs_assetbundle_device.form.specification' | trans() }} [{{ device.specification }}]<br>
    </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<script>
    $('a.device-modification').click(function(e) {
        e.preventDefault();
        var target = $(this);
        var device_id = target.attr('device-id');
        var ticket_id = target.attr('ticket-id');
        var href = "{{ path(prefix~'_devices_edit', { 'device_id' : '_device_id', 'id' : '_ticket_id' }) }}";
        href = href.replace(/_device_id/, device_id);
        href = href.replace(/_ticket_id/, ticket_id);
        $.get(href, function(data) {
            target.parent().parent().html(data);
        });
    });
</script>
