{% extends '::menu.html.twig' %}
{% block menu_content %}
    <li class="nav-header">My Service Tickets</li>
    <li {% if path('ftfs_dashboardbundle_myservice_index') == app.session.get('bodymenu') %}class="active"{% endif %}><a href="{{ path('ftfs_dashboardbundle_myservice_index') }}"><i class="icon-home"></i> My Current Service</a></li>
{% if is_granted('ROLE_AGENT') %}
    <li {% if path('ftfs_dashboardbundle_myservice_new') == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservice_new') }}"><i class="icon-edit"></i> Open a New Service Ticket</a></li>
{% endif %}

    <li class="divider"></li>

    <li {% if path('ftfs_dashboardbundle_myservice_index', { 'status' : 'allassigned' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservice_index', { 'status' : 'allassigned' }) }}"><i class="icon-list"></i> All My Service Tickets</a></li>

    <li class="divider"></li>

    <li {% if path('ftfs_dashboardbundle_myservice_index', { 'status' : '10_opened' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservice_index', { 'status' : '10_opened' }) }}"><i class="icon-indent-left"></i> My Tickets Opened</a></li>
    <li {% if path('ftfs_dashboardbundle_myservice_index', { 'status' : '20_delivered' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservice_index', { 'status' : '20_delivered' }) }}"><i class="icon-indent-left"></i> My Tickets Delivered</a></li>
    <li {% if path('ftfs_dashboardbundle_myservice_index', { 'status' : '30_closed' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservice_index', { 'status' : '30_closed' }) }}"><i class="icon-indent-left"></i> My Tickets Closed</a></li>

{% if is_granted('ROLE_CLIENT') %}

    <li class="divider">

    <li><a href="#"><i class="icon-globe"></i> All My Shared Tickets (not yet available) </a></li>
    
    <li class="nav-header">My Service Requests</li>
    <li {% if path('ftfs_dashboardbundle_myservicerequest_index') == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index') }}"><i class="icon-home"></i> My Current Requests</a></li>
    <li {% if path('ftfs_dashboardbundle_myservicerequest_new') == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_new') }}"><i class="icon-edit"></i> Request a Service </a></li>

    <li class="divider"></li>

    <li {% if path('ftfs_dashboardbundle_myservicerequest_index', { 'status' : 'all' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index', { 'status' : 'all' }) }}"><i class="icon-tags"></i> All My Service Requests</a></li>

    <li class="divider"></li>

    <li {% if path('ftfs_dashboardbundle_myservicerequest_index', { 'status' : '10_rejected' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index', { 'status' : '10_rejected' }) }}"><i class="icon-tag"></i> My Requests Rejected</a></li>
    <li {% if path('ftfs_dashboardbundle_myservicerequest_index', { 'status' : '20_unsent' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index', { 'status' : '20_unsent' }) }}"><i class="icon-tag"></i> My Requests Unsent</a></li>
    <li {% if path('ftfs_dashboardbundle_myservicerequest_index', { 'status' : '30_awaiting' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index', { 'status' : '30_awaiting' }) }}"><i class="icon-tag"></i> My Requests Awaiting</a></li>
    <li {% if path('ftfs_dashboardbundle_myservicerequest_index', { 'status' : '40_accepted' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index', { 'status' : '40_accepted' }) }}"><i class="icon-tag"></i> My Requests Accepted</a></li>

{% elseif is_granted('ROLE_AGENT') %}
    <li class="divider"></li>
    <li {% if path('ftfs_dashboardbundle_myservice_index', { 'status' : 'all' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservice_index', {'status' : 'all'}) }}"><i class="icon-globe"></i> All Services Deployed</a></li>
    
    <li class="nav-header">Service Requests</li>
    <li {% if path('ftfs_dashboardbundle_myservicerequest_index') == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index') }}"><i class="icon-home"></i> My Current Requests</a></li>

    <li class="divider">

    <li {% if path('ftfs_dashboardbundle_myservicerequest_index', { 'filter' : 'assigned' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index', { 'filter' : 'assigned' }) }}"><i class="icon-tags"></i> All My Assigned Requests </a></li>

    <li class="divider">

    <li {% if path('ftfs_dashboardbundle_myservicerequest_index', { 'filter' : 'assignedawaiting' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index', { 'filter' : 'assignedawaiting' }) }}"><i class="icon-tag"></i> My Awaiting Requests </a></li>

    <li class="divider">

    <li {% if path('ftfs_dashboardbundle_myservicerequest_index', { 'filter' : 'new' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index', { 'filter' : 'new' }) }}"><i class="icon-list-alt"></i> All New Service Requests</a></li>
    <li {% if path('ftfs_dashboardbundle_myservicerequest_index', { 'filter' : 'urgent' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index', { 'filter' : 'urgent' }) }}"><i class="icon-list-alt"></i> All New Urgent Requests </a></li>

    <li class="divider">

    <li {% if path('ftfs_dashboardbundle_myservicerequest_index', { 'filter' : 'all' }) == app.session.get('bodymenu') %} class="active" {% endif %} ><a href="{{ path('ftfs_dashboardbundle_myservicerequest_index', { 'filter' : 'all' }) }}"><i class="icon-globe"></i> All Service Requests</a></li>
{% endif %}
    {{ parent() }}
{% endblock %}
