{% extends 'FTFSDashboardBundle::body_menu.html.twig' %}
{% block dash_menu_content %}
    <li class="nav-header">My Service Tickets</li>
    {# opened, interrupted, assigned #}
    <li class="navmenu-item navmenu-item-countable"><a href="{{ path('ftfs_dashboardbundle_myservice_index') }}"><i class="icon-home"></i> My Current Tickets <span class="pull-right badge">{% if app.session.has('counter-menu-current') %}{{ app.session.get('counter-menu-current') }}{% else %}...{% endif %}</span></a></li>
    <li class="navmenu-item"><a href="{{ path('ftfs_dashboardbundle_myservice_new') }}"><i class="icon-edit"></i> Open a New Service Ticket</a></li>

    <li class="divider"></li>

    {# closed, opened, interrupted, assigned #}
    <li class="navmenu-item navmenu-item-countable"><a href="{{ path('ftfs_dashboardbundle_myservice_index', { 'status' : 'allassigned' }) }}"><i class="icon-list"></i> All My Assigned Tickets <span class="pull-right badge">{% if app.session.has('counter-menu-allassigned') %}{{ app.session.get('counter-menu-allassigned') }}{% else %}...{% endif %}</span></a></li>

    <li class="divider"></li>

    <li class="navmenu-item navmenu-item-countable"><a href="{{ path('ftfs_dashboardbundle_myservice_index', { 'status' : 'interrupted' }) }}"><i class="icon-indent-left"></i> My Tickets Interrupted <span class="pull-right badge">{% if app.session.has('counter-menu-interrupted') %}{{ app.session.get('counter-menu-interrupted') }}{% else %}...{% endif %}</span></a></li>
    <li class="navmenu-item navmenu-item-countable"><a href="{{ path('ftfs_dashboardbundle_myservice_index', { 'status' : 'assigned' }) }}"><i class="icon-indent-left"></i> My New Arriving Tickets <span class="pull-right badge">{% if app.session.has('counter-menu-assigned') %}{{ app.session.get('counter-menu-assigned') }}{% else %}...{% endif %}</span></a></li>
    <li class="navmenu-item navmenu-item-countable"><a href="{{ path('ftfs_dashboardbundle_myservice_index', { 'status' : 'opened' }) }}"><i class="icon-indent-left"></i> My Tickets Opened <span class="pull-right badge">{% if app.session.has('counter-menu-opened') %}{{ app.session.get('counter-menu-opened') }}{% else %}...{% endif %}</span></a></li>
    <li class="navmenu-item navmenu-item-countable"><a href="{{ path('ftfs_dashboardbundle_myservice_index', { 'status' : 'closed' }) }}"><i class="icon-indent-left"></i> My Tickets Closed <span class="pull-right badge">{% if app.session.has('counter-menu-closed') %}{{ app.session.get('counter-menu-closed') }}{% else %}...{% endif %}</span></a></li>

    <li class="divider"></li>

    <li class="navmenu-item navmenu-item-countable"><a href="{{ path('ftfs_dashboardbundle_myservice_index', {'status' : 'alldeployed'}) }}"><i class="icon-globe"></i> All Services Deployed <span class="pull-right badge">{% if app.session.has('counter-menu-alldeployed') %}{{ app.session.get('counter-menu-alldeployed') }}{% else %}...{% endif %}</span></a></li>
    <li class="navmenu-item navmenu-item-countable"><a href="{{ path('ftfs_dashboardbundle_myservice_index', {'status' : 'allunassigned'}) }}"><i class="icon-globe"></i> All Requests Unassigned <span class="pull-right badge">{% if app.session.has('counter-menu-allunassigned') %}{{ app.session.get('counter-menu-allunassigned') }}{% else %}...{% endif %}</span></a></li>

    <li class="divider"></li>
{% endblock %}
