{% extends 'FTFSCrudBundle:Crud:crud_box.html.twig' %}

{% block crud_box_index_title_filter %}
    <span class="pull-left">
        &nbsp;
        &nbsp;
        &nbsp;
    </span>
    <form id="crud-box-index-title-filter" class="pull-left">
        {% set selected = app.request.query.get('type') | default(0) %}
        <select id="ticket-filter-type" class="btn">
            <option value="0" {% if 0==selected %}selected="selected"{% endif %}>&lt;{{ (prefix~'.title.filter.type') | trans({}, 'crud') }}&gt;</option>
        {% for service in services %}
            {% if service.active %}
            <option value="{{ service.id }}" {% if service.id==selected %}selected="selected"{% endif %}>{{ service.name }}</option>
            {% endif %}
        {% endfor%}
        </select>
        <span class="input-prepend"><span class="add-on">{{ (prefix~'.title.filter.from') | trans({}, 'crud') }}</span><input id="ticket-filter-from" class="span2 datepicker-from" type="text" value="{{ app.request.query.get('from') | default('') }}"></span>
        <span class="input-prepend"><span class="add-on">{{ (prefix~'.title.filter.to') | trans({}, 'crud') }}</span><input id="ticket-filter-to" class="span2 datepicker-to" type="text" value="{{ app.request.query.get('to') | default('') }}"></span>
        <span><a id="ticket-filter-clear" href="#" class="btn"><i class="icon-refresh"></i> {{ (prefix~'.title.filter.reset') | trans({}, 'crud') }}</a></span>
        <span><a id="ticket-filter-export" href="#" class="btn btn-primary add-on"><i class="icon-download-alt icon-white"></i> {{ (prefix~'.title.export.button') | trans({}, 'crud') }}</a></span>
        {#
        <span class="input-append"><input id="filename" type="text" class="span2" placeholder="ticket-list.csv"><a id="ticket-filter-action" href="#" data-source="{{ path('ftfs_dashboardbundle_myservice_list_table_download', { 'type' : '_type' , 'from' : '_from' , 'to' : '_to', 'status' : '_status', 'filename' : '_filename' }) }}" class="btn btn-primary add-on"><i class="icon-download-alt icon-white"></i></a></span>
        #}
    </form>
{% endblock %}

{% block crud_box_index_content %}
{% include 'FTFSDashboardBundle:MyService:crud_box_index_table.html.twig' %}
{% endblock %}
