{% extends "FTFSServiceBundle:Service:index_content_table.html.twig" %}

{% block operations %}
    {% if  entity.status == '10_opened' %}
        {% if entity.assignedTo == app.user.username %}
        <a href="{{ path(prefix~'_edit', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.edit.tooltip'|trans({}, 'crud') }}">
            <i class="icon-pencil"></i>
        </a>
        <a href="{{ path(prefix~'_transfer', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.table.action.transfer.tooltip')|trans({}, 'crud') }}">
            <i class="icon-hand-right"></i>
        </a>
        {% elseif entity.assignedTo is null %}
        <a href="{{ path(prefix~'_take', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.table.action.take.tooltip')|trans({}, 'crud') }}">
            <i class="icon-hand-up"></i>
        </a>
        {% endif %}
    {% endif %}
{% endblock %}
