{% extends 'FTFSServiceBundle:ServiceTicket:show_content.html.twig' %}

{% block crud_actions_icons %}
    {% if entity.status in ['interrupted', 'submitted', 'assigned', 'opened'] %}
        {% if entity.assignedTo is null or entity.assignedTo.username != app.user.username %}
            <a class="btn btn-small crud-action" href="#" crud-message="{{ (prefix~'.form.action.take.confirm')|trans({'%name%':entity.name, '%requestor%':entity.requestedBy}, 'crud') }}" crud-toggle="{{ path(prefix~'_take', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.form.action.show.take.tooltip')|trans({}, 'crud') }}" data-placement="bottom">
                <i class="icon-hand-up"></i>
            </a>
        {% else %}
            {% if entity.status != 'opened' %}
            <a class="btn btn-small crud-action" href="#" crud-message="{{ (prefix~'.form.action.show.open.confirm')|trans({}, 'crud') }}" crud-toggle="{{ path(prefix~'_open', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.form.action.show.open.tooltip')|trans({}, 'crud') }}" data-placement="bottom">
                <i class="icon-folder-open"></i>
            </a>
            {% else %}
            <a class="btn btn-small" href="{{ path(prefix~'_close', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.form.action.show.close.tooltip')|trans({}, 'crud') }}" data-placement="bottom">
                <i class="icon-folder-close"></i>
            </a>
            {% endif %}
            {% if entity.status != 'submitted' %}
            <a class="btn btn-small" href="{{ path(prefix~'_transfer', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.form.action.show.transfer.tooltip')|trans({}, 'crud') }}" data-placement="bottom">
                <i class="icon-hand-right"></i>
            </a>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if entity.status == 'closed' %}
        <a class="btn btn-small crud-action" crud-toggle="{{ path(prefix~'_reopen', { 'id' : entity.id }) }}" crud-message="{{ (prefix~'.table.action.reopen.confirm')|trans({'%name%':entity.name, '%requestor%':entity.requestedBy}, 'crud') }}" href="#" rel="tooltip" title="{{ (prefix~'.table.action.reopen.tooltip')|trans({}, 'crud') }}">
            <i class="icon-folder-open"></i>
        </a>
    {% endif %}
{% endblock %}

{% block crud_content %}
    {% if action_form is defined %}
    <form method="post" class="form-horizontal well">
        {{ form_widget(action_form) }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit">
            <a class="btn" href="{{ path(prefix~'_show', { 'id' : entity.id }) }}">Cancel</a>
        </div>
    </form>
    {% endif %}
    {{ parent() }}
{% endblock %}
