{% extends 'FTFSServiceBundle:ServiceTicket:show_content.html.twig' %}

{% block crud_actions_icons %}
    {% if read_only is null or not read_only %}
        {% if entity.status == 'created' %}
            <a class="btn btn-small crud-action" href="#" crud-toggle="{{ path(prefix~'_submit', { 'id' : entity.id }) }}" crud-message="{{ (prefix~'.form.action.show.submit.confirm')|trans({}, 'crud') }}" rel="tooltip" title="{{ (prefix~'.form.action.show.submit.tooltip')|trans({}, 'crud') }}" data-placement="bottom">
                <i class="icon-envelope"></i>
            </a>
            <a class="btn btn-small crud-action" href="#" crud-toggle="{{ path(prefix~'_delete', { 'id' : entity.id }) }}" crud-message="{{ (prefix~'.show.delete.message')|trans({}, 'crud') }}" rel="tooltip" title="{{ (prefix~'.form.action.show.delete.tooltip')|trans({}, 'crud') }}" data-placement="bottom">
                <i class="icon-trash"></i>
            </a>
        {% elseif entity.pending %}
            <a class="btn btn-small" href="{{ path(prefix~'_continue', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.form.action.show.continue.tooltip')|trans({}, 'crud') }}" data-placement="bottom">
                <i class="icon-play"></i>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block crud_content %}
    {% if action_form is defined %}
    <form method="post" class="form-horizontal well">
        {{ form_widget(action_form) }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit">
            <a class="btn" href="{{ path(prefix~'_show', { 'id' : entity.id }) }}">Cancel</a>
        </div>
    </form>
    {% endif %}
    {{ parent() }}
{% endblock %}
