{# render the default show page view #}
<div>
    <legend class="btn-group">
        <a class="btn btn-small" href="{{ app.session.get('index') }}" rel="tooltip" title="{{ 'ftfs.crud.form.action.show.list.tooltip'|trans({}, 'crud') }}" data-placement="bottom">
            <i class="icon-list"></i>
        </a>
        {% block crud_actions_icons %}
        {% endblock %}
        {% if read_only is not defined or not read_only %}
        <a class="btn btn-small" href="{{ path(prefix~'_edit', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.form.action.show.modify.tooltip'|trans({}, 'crud') }}" data-placement="bottom">
            <i class="icon-pencil"></i>
        </a>
            {% if removable is defined and removable %}
            <a class="btn btn-small crud-action" href="#" crud-toggle="{{ path(prefix~'_delete', { 'id' : entity.id }) }}" crud-message="{{ (prefix~'.show.delete.message')|trans({}, 'crud') }}" rel="tooltip" title="{{ 'ftfs.crud.form.action.show.delete.tooltip'|trans({}, 'crud') }}" data-placement="bottom">
                <i class="icon-trash"></i>
            </a>
            {% endif %}
        {% endif %}
        <strong class="btn">{{ (prefix~'.form.legend.show')|trans({}, 'crud') }}</strong>
    </legend>

    {% block crud_content %}
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.name') | trans({}, 'crud') }}</th>
            <td colspan="3">{{ entity.name }}</td>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.last.modified.at') | trans({}, 'crud') }}</th>
            <td>{% if entity.lastModifiedAt is not empty %}{{ entity.lastModifiedAt | date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.summary') | trans({}, 'crud') }}</th>
            <td colspan="5">{{ entity.summary }}</td>
        </tr>
        <tr>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.status.title') | trans({}, 'crud') }}</th>
            <td><span class="{{ ('ftfs.servicebundle.serviceticket.table.status.'~entity.status~'.class')|trans({}, 'crud') }}">
                {{ ('ftfs.servicebundle.serviceticket.table.status.'~entity.status)|trans({}, 'crud') }}
            </span></td>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.severity.title') | trans({}, 'crud') }}</th>
            <td><span class="{{ ('ftfs.servicebundle.serviceticket.table.severity.'~entity.severity~'.class')|trans({}, 'crud') }}">
                {{ ('ftfs.servicebundle.serviceticket.table.severity.'~entity.severity)|trans({}, 'crud') }}
            </span></td>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.priority.title') | trans({}, 'crud') }}</th>
            <td><span class="{{ ('ftfs.servicebundle.serviceticket.table.priority.'~entity.priority~'.class')|trans({}, 'crud') }}">
                {{ ('ftfs.servicebundle.serviceticket.table.priority.'~entity.priority)|trans({}, 'crud') }}
            </span></td>
        </tr>
        <tr>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.requested.by') | trans({}, 'crud') }}</th>
            <td>{{ entity.requestedBy }}</td>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.requested.at') | trans({}, 'crud') }}</th>
            <td>{% if entity.lastModifiedAt is not empty %}{{ entity.requestedAt | date('Y-m-d H:i:s') }}{% endif %}</td>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.requested.via') | trans({}, 'crud') }}</th>
            <td>{{ entity.requestedVia }}</td>
        </tr>
        <tr>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.created.at') | trans({}, 'crud') }}</th>
            <td>{% if entity.createdAt is not empty %}{{ entity.createdAt | date('Y-m-d H:i:s') }}{% endif %}</td>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.opened.at') | trans({}, 'crud') }}</th>
            <td>{% if entity.openedAt is not empty %}{{ entity.openedAt | date('Y-m-d H:i:s') }}{% endif %}</td>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.closed.at') | trans({}, 'crud') }}</th>
            <td>{% if entity.closedAt is not empty %}{{ entity.closedAt | date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.service') | trans({}, 'crud') }}</th>
            <td>{{ entity.service }}</td>
            {% if is_granted('ROLE_AGENT') %}
            <th>{{ ('ftfs.servicebundle.serviceticket.table.asset') | trans({}, 'crud') }}</th>
            <td>{{ entity.asset }}</td>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.assigned.to') | trans({}, 'crud') }}</th>
            <td>{{ entity.assignedTo }}</td>
            {% else %}
            <th>{{ ('ftfs.servicebundle.serviceticket.table.asset') | trans({}, 'crud') }}</th>
            <td colspan="3">{{ entity.asset }}</td>
            {% endif %}
        </tr>
        <tr>
            <th>Attachment</th>
            <td colspan="5"></td>
        </tr>
        <tr>
            <th>{{ ('ftfs.servicebundle.serviceticket.table.detail') | trans({}, 'crud') }}</th>
            <td colspan="5">{{ entity.detail }}</td>
        </tr>
    </table>

    <legend class="btn-group">
        <a class="btn btn-small" href="{{ app.session.get('index') }}" rel="tooltip" title="{{ 'ftfs.crud.form.action.show.list.tooltip'|trans({}, 'crud') }}" data-placement="bottom">
            <i class="icon-list"></i>
        </a>
        <a class="btn btn-small observation-new" href="#" rel="tooltip" title="{{ 'ftfs.crud.form.action.show.message.tooltip'|trans({}, 'crud') }}" data-placement="bottom">
            <i class="icon-envelope"></i>
        </a>
        <strong class="btn">Observation</strong>
    </legend>

    <div id="observation">
    </div>
    {% endblock %}
</div>
