{% extends "FTFSUserBundle::layout.html.twig" %}

{% form_theme form "FTFSUserBundle::form.html.twig" %}

{% block body_menu %}
{% include "FTFSUserBundle:User:edit_body_menu.html.twig" with { 'username' : user.username } %}
{% endblock %}

{% block body_content %}
<form class="form-horizontal" action="{{ path('FTFSUserBundle_user_edit_roles', { 'username' : user.username }) }}" {{ form_enctype(form) }} method="POST">
    <fieldset>
        <legend>
            Roles for <a href="{{ path('FTFSUserBundle_user_show', { 'username' : user.username }) }}">{{ user.title }} {{ user.firstName }} {{ user.surname }} ({{ user.username }})</a> of {{ user.company }}
            <span class="btn-group pull-right">
                <input class="btn btn-primary" type="submit" value="Save">
            </span>
        </legend>
        {{ form_widget(form) }}
    </fieldset>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Save Modifications">
    </div>
</form>
{% endblock body_content %}
