{% extends "FTFSUserBundle::layout.html.twig" %}

{% block body_menu %}
{% include "FTFSUserBundle::body_menu.html.twig" %}
{% endblock %}

{% block body_content %}
<table class="table table-striped table-condensed table-bordered table-smart">
    <legend>All Users Registered</legend>
    <thead>
        <tr>
            <th class="cell-mini">#</th>
            <th>Status</th>
            <th>Username</th>
            <th class="cell-huge">E-mail</th>
            <th>Roles</th>
            <th>Surname</th>
            <th>First Name</th>
            <th class="cell-large">Company</th>
            <th class="cell-large">Office Address</th>
            <th>Office Phone</th>
            <th>Office Fax</th>
        </tr>
    </thead>
    <tbody>
    {% set i = 0 %}
    {% for user in users %}
        <tr>
    {% set i = i + 1 %}
            <td>
                <a href="{{ path('ftfsuserbundle_user_edit', { username : user.username }) }}">
                    <i class="icon-edit"></i>{{ i }}
                </a>
            </td>
            <td>
            {% if user.locked %}<span class="label">Locked</span>{% else %}<span class="label label-success">Normal</span>{% endif %}
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
            {% for role in user.roles %}
            {{ role }};
            {% endfor %}
            </td>
            <td>{{ user.surname }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.company }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.officePhone }}</td>
            <td>{{ user.officeFax }}</td>
    {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock body_content %}
