<table class="table table-bordered table-striped table-condensed table-smart">
    <thead>
        <tr>
            <th class="tight">#</th>
            <th class="tight">{{ (prefix~'.table.operations')|trans({}, 'crud') }}</th>
            {% block thead %}
            {% endblock %}
        </tr>
    </thead>
    <tbody>
    {% set i = 0 %}
    {% for entity in list.entities %}
        {% set i = i+1 %}
        <tr>
            <td class="tight">
                {{ i }}
            </td>
            <td class="tight">
                <a href="{{ path(prefix~'_show', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.show.tooltip'|trans({}, 'crud') }}">
                    <i class="icon-eye-open"></i>
                </a>
                {% block operations %}
                    {% if read_only is not defined or not read_only %}
                    <a href="{{ path(prefix~'_edit', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.edit.tooltip'|trans({}, 'crud') }}">
                        <i class="icon-pencil"></i>
                    </a>
                        {% if removable is defined and removable %}
                        <a class="crud-action" crud-toggle="{{ path(prefix~'_delete', { 'id' : entity.id }) }}" crud-message="{{ (prefix~'.table.action.delete.message')|trans({}, 'crud') }}" href="#" rel="tooltip" title="{{ 'ftfs.crud.table.action.delete.tooltip'|trans({}, 'crud') }}">
                            <i class="icon-trash"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </td>
            {% block tbody %}
            {% endblock %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if list.pagination %}
<div class="pagination pagination-centered">
    {% set npages = list.count // list.limit + ((list.count % list.limit) == 0 ? 0 : 1) %}
    {% set npages = npages==0 ? 1 : npages %}
    {% set page = list.page %}
    {% set limit = list.limit %}
    {% set range = 5 %}

    <ul>
        <li><a href="#" index="prev" of="{{ npages }}" {% if page <=1 %}class="disabled"{% endif %}>&lt;&lt;</a></li>
        {% if npages > range %}
            {% if page <= range // 2 %}{# left align #}
            {% for i in 1..range %}
            <li {% if i == page %}class="active disabled"{% endif %}><a href="#" index="{{i}}" of="{{ npages }}">{{i}}</a></li>
            {% endfor %}
            {% elseif npages - page > range // 2 %}{# center align #}
            {% for i in (page-range//2)..(page+range//2) %}
            <li {% if i == page %}class="active disabled"{% endif %}><a href="#" index="{{i}}" of="{{ npages }}">{{i}}</a></li>
            {% endfor %}
            {% else %}{# right align#}
            {% for i in (npages-range+1)..npages %}
            <li {% if i == page %}class="active disabled"{% endif %}><a href="#" index="{{i}}" of="{{ npages }}">{{i}}</a></li>
            {% endfor %}
            {% endif %}
        {% else %}
            {% for i in 1..npages %}
            <li {% if i == page %}class="active disabled"{% endif %}><a href="#" index="{{i}}" of="{{ npages }}">{{i}}</a></li>
            {% endfor %}
        {% endif %}
        <li><a href="#" index="next" of="{{ npages }}" {% if page == npages %}class="disabled"{% endif %}>&gt;&gt;</a></li>
    </ul>
</div>
{% endif %}
