{% form_theme form "FTFSCrudBundle::form.html.twig" %}

{% block form %}
<form class="form-horizontal" action="{{ path(prefix~'_edit', { 'id' : entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <legend>{{ (prefix~'_form_legend_edit')|replace({'_' : '.'})|trans({}, 'crud') }}</legend>
    <fieldset>
    {{ form_widget(form) }}
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ (prefix~'_form_submit')|replace({'_' : '.'})|trans({}, 'crud') }}">
        <a href="#" class="btn">{{ (prefix~'_form_cancel')|replace({'_' : '.'})|trans({}, 'crud') }}</a>
    </div>
</form>
{% endblock %}
