{% extends "FTFSCrudBundle::layout.html.twig" %}

{% block crud %}
{% if read_only is defined and read_only %}
<h2 class="pull-left">{{ (prefix~'.table.caption')|trans({}, 'crud') }}</h2>
<form class="form-search pull-right">
    <div class="input-append">
        <input type="text" class="search-query input-medium" placeholder="search"><button type="submit" class="btn btn-primary btn-small"><i class="icon-search icon-white"></i></button>
    </div>
</form>
<br>
<hr>
{% else %}
<h2>{{ (prefix~'.table.caption')|trans({}, 'crud') }}</h2>
<hr>
<a class="btn btn-success pull-left" href="{{ path(prefix~'_new') }}">
    <i class="icon-edit icon-white"></i>
    {{ (prefix~'.table.action.new')|trans({}, 'crud') }}
</a>
<form class="form-search pull-right">
    <div class="input-append">
        <input type="text" class="search-query input-medium" placeholder="search"><button type="submit" class="btn btn-primary btn-small"><i class="icon-search icon-white"></i></button>
    </div>
</form>
{% endif %}
<table class="table table-bordered table-striped table-condensed table-smart">
    <thead>
        <tr>
            <th class="cell-tiny">#</th>
            <th class="cell-tiny">{{ (prefix~'.table.operations')|trans({}, 'crud') }}</th>
            {% block thead %}
            {% endblock %}
        </tr>
    </thead>
    <tbody>
    {% set i = 0 %}
    {% for entity in entities %}
        {% set i = i+1 %}
        <tr>
            <td>
                {{ i }}
            </td>
            <td>
                <a href="{{ path(prefix~'_show', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.show.tooltip'|trans({}, 'crud') }}">
                    <i class="icon-eye-open"></i>
                </a>
                {% block operations %}
                    {% if read_only is not defined or not read_only %}
                    <a href="{{ path(prefix~'_edit', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.edit.tooltip'|trans({}, 'crud') }}">
                        <i class="icon-pencil"></i>
                    </a>
                        {% if removable is defined and removable %}
                        <a href="{{ path(prefix~'_delete', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.delete.tooltip'|trans({}, 'crud') }}">
                            <i class="icon-trash"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </td>
            {% block tbody %}
            {% endblock %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

