{% extends "FTFSCrudBundle::layout.html.twig" %}

{% block crud %}
<h2>{{ (prefix~'_table_caption')|replace('_', '.')|trans({}, 'crud') }}</h2>
<hr>
<a class="btn btn-success pull-left" href="{{ path(prefix~'_new') }}">
    <i class="icon-edit icon-white"></i>
    {{ (prefix~'_table_action_new')|replace('_', '.')|trans({}, 'crud') }}
</a>
<form class="form-search pull-right">
    <div class="input-append">
        <input type="text" class="search-query input-medium" placeholder="search"><button type="submit" class="btn btn-primary btn-small"><i class="icon-search icon-white"></i></button>
    </div>
</form>
<table class="table table-bordered table-striped table-condensed table-smart">
    <thead>
        <tr>
            <th class="cell-tiny">#</th>
            <th class="cell-tiny">{{ (prefix~'_table_operations')|replace('_', '.')|trans({}, 'crud') }}</th>
            {% block thead %}
            {% endblock %}
        </tr>
    </thead>
    <tbody>
    {% set i = 0 %}
    {% for entity in entities %}
        {% set i = i+1 %}
        <tr>
            <td>
                {{ i }}
            </td>
            <td>
                {% block operations %}
                <a href="{{ path(prefix~'_delete', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.delete.tooltip'|trans({}, 'crud') }}">
                    <i class="icon-trash"></i>
                </a>
                <a href="{{ path(prefix~'_edit', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.edit.tooltip'|trans({}, 'crud') }}">
                    <i class="icon-pencil"></i>
                </a>
                <a href="{{ path(prefix~'_show', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.show.tooltip'|trans({}, 'crud') }}">
                    <i class="icon-eye-open"></i>
                </a>
                {% endblock %}
            </td>
            {% block tbody %}
            {% endblock %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

