{% extends "FTFSCrudBundle::layout.html.twig" %}

{% form_theme form "FTFSCrudBundle::form.html.twig" %}

{% block crud %}
<form class="form-horizontal" action="{{ path(prefix~'_new') }}" method="post" {{ form_enctype(form) }}>
    <legend>
        <span>{{ (prefix~'_form_legend_new')|replace({'_' : '.'})|trans({}, 'crud') }}</span>
        <div class="btn-group pull-right">
            <button class="btn btn-small" type="submit">
                <i class="icon-ok"></i>
            </button>
            <a class="btn btn-small" href="{{ path(prefix~'_index') }}">
                <i class="icon-list"></i>
            </a>
        </div>
    </legend>
    <fieldset>
    {{ form_widget(form) }}
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ (prefix~'_form_action_save')|replace({'_' : '.'})|trans({}, 'crud') }}">
        <a href="#" class="btn">{{ (prefix~'_form_action_cancel')|replace({'_' : '.'})|trans({}, 'crud') }}</a>
    </div>
</form>
{% endblock %}
