{% extends "FTFSCrudBundle::layout.html.twig" %}

{% form_theme form "FTFSCrudBundle::form.html.twig" %}

{% block crud %}
<form name="{{ prefix~'_form' }}" class="form-horizontal" action="{{ path(prefix~'_new') }}" method="post" {{ form_enctype(form) }}>
    <legend>
        <span>{{ (prefix~'_form_legend_new')|replace({'_' : '.'})|trans({}, 'crud') }}</span>
        <div class="btn-group pull-right">
        {% block crud_actions_icons %}
            <button class="btn btn-small" type="submit" rel="tooltip" title="{{ 'ftfs.crud.form.action.new.save.tooltip'|trans({}, 'crud') }}" data-placement="bottom">
                <i class="icon-ok"></i>
            </button>
            <a class="btn btn-small" href="{{ path(prefix~'_index') }}" rel="tooltip" title="{{ 'ftfs.crud.form.action.new.cancel.tooltip'|trans({}, 'crud') }}" data-placement="left">
                <i class="icon-list"></i>
            </a>
        {% endblock %}
        </div>
    </legend>
    {% block crud_form %}
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>
    {% endblock %}
    <div class="form-actions">
    {% block crud_actions %}
        <input type="submit" class="btn btn-primary" value="{{ 'ftfs.crud.form.action.new.save'|trans({}, 'crud') }}">
        <a href="{{ path(prefix~'_index') }}" class="btn">{{ 'ftfs.crud.form.action.new.cancel'|trans({}, 'crud') }}</a>
    {% endblock %}
    </div>
</form>
{% endblock %}
