{% extends "FTFSCrudBundle::layout.html.twig" %}

{% form_theme form "FTFSCrudBundle::form.html.twig" %}

{% block crud %}
<form name="{{ prefix~'_form' }}" class="form-horizontal" action="{{ path(prefix~'_new') }}" method="post" {{ form_enctype(form) }}>
    <legend class="btn-group">
        <a class="btn btn-small" href="{{ path(prefix~'_index') }}" rel="tooltip" title="{{ 'ftfs.crud.form.action.new.cancel.tooltip'|trans({}, 'crud') }}" data-placement="bottom">
            <i class="icon-list"></i>
        </a>
        {% block crud_actions_icons %}
            <button class="btn btn-small" type="submit" rel="tooltip" title="{{ 'ftfs.crud.form.action.new.save.tooltip'|trans({}, 'crud') }}" data-placement="bottom">
                <i class="icon-ok"></i>
            </button>
        {% endblock %}
        <strong class="btn">{{ (prefix~'.form.legend.new')|trans({}, 'crud') }}</strong>
    </legend>
    {% block crud_form %}
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>
    {% endblock %}
    <div class="form-actions btn-toolbar">
        {% block crud_actions %}
        <div class="btn-group dropup">
            <button type="submit" class="btn btn-primary">
                <i class="icon-ok"></i>
                {{ 'ftfs.crud.form.action.new.save'|trans({}, 'crud') }}
            </button>
        </div>
        {% endblock %}
        <div class="btn-group dropup">
            <a href="{{ path(prefix~'_index') }}" class="btn">
                <i class="icon-list"></i>
                {{ 'ftfs.crud.form.action.new.cancel'|trans({}, 'crud') }}
            </a>
        </div>
    </div>
</form>
{% endblock %}
