{% extends 'FTFSPreferenceBundle::layout.html.twig' %}
{% block body_content %}
<legend>
<span>Notification Preference</span>
<a class="btn btn-success pull-right" href="{{ path('ftfs_notificationbundle_preference_event_add') }}">
    <i class="icon-plus-sign icon-white"></i>
    add a new event
</a>
</legend>
<div class="accordion" id="preference">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#preference" href="#collapseAutoNotification">Auto Notification</a>
        </div>
        <div id="collapseAutoNotification" class="accordion-body collapse in">
            <table class="table table-striped table-condensed table-bordered table-smart">
                <tr>
                    <th class="tight"></th>
                    <th>Name</th>
                    <th>Notification Method</th>
                    <th class="tight"></th>
                </tr>
                {% set index = 0 %}
                {% for event in events %}
                <tr>
                    {% set index = index + 1 %}
                    <td class="tight">{{ index }}</td>
                    <td>{{ ('ftfs_notification_key.'~event.eventKey~'.auto') |trans({}, 'notification') }}</td>
                    <td><ul>
                        {% for auto_filter in auto_filters[event.eventKey]%}
                        <li>{{ auto_filter.method }}</li>
                        {% endfor %}
                    </ul></td>
                    <td><a event="{{ event.id }}" auto=1 href="#">modify</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#preference" href="#collapseOtherNotification">Other Notification</a>
        </div>
        <div id="collapseOtherNotification" class="accordion-body collapse">
            <table class="table table-striped table-condensed table-bordered table-smart">
                <tr>
                    <th class="tight"></th>
                    <th>Name</th>
                    <th>Notification Method</th>
                    <th class="tight"></th>
                </tr>
                {% set index = 0 %}
                {% for event in events %}
                <tr>
                    {% set index = index + 1 %}
                    <td class="tight">{{ index }}</td>
                    <td>{{ ('ftfs_notification_key.'~event.eventKey~'.other') |trans({}, 'notification') }}</td>
                    <td><ul>
                        {% for other_filter in other_filters[event.eventKey]%}
                        <li>{{ other_filter.method }}</li>
                        {% endfor %}
                    </ul></td>
                    <td><a event="{{ event.id }}" auto=0 href="#">modify</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<!-- loading method forms -->
<script>
$(document).ready(function () {
    var href = "{{ path('ftfs_notificationbundle_preference_event_catch_filter_default', { 'id' : '_event', 'auto' : '_auto' }) }}";
    $('td a').click(function() {

        object = $(this);
        var event = object.attr('event');
        var auto = object.attr('auto');

        href = href.replace(/_event/, event).replace(/_auto/, auto);
        // load form
        $.ajax({
            type:   "GET",
            url:    href,
            data:   "",
            cache:  false,
            success: function(data) {
                object.parent().prev().html(data);
            },
            error:   function() {
                alert("Ooups ... something's got wrong: the ajax connection failed in rendering methods form:(");
            },
        });
    });
});
</script>
{% endblock %}
