{% extends 'FTFSCrudBundle:Crud:index_content.html.twig' %}

{% block thead %}
<th class="tight">{{ (prefix~'.table.name')|trans({}, 'crud') }}</th>
<th class="tight">{{ (prefix~'.table.category')|trans({}, 'crud') }}</th>
<th class="tight">{{ (prefix~'.table.supplier')|trans({}, 'crud') }}</th>
<th>{{ (prefix~'.table.description')|trans({}, 'crud') }}</th>
{% endblock %}

{% block tbody %}
<td>{{ entity.name }}</td>
<td>{{ entity.category }}</td>
<td>{{ entity.supplier }}</td>
<td>{{ entity.description }}</td>
{% endblock %}
