{% extends "FTFSServiceBundle:ServiceRequest:index_content_table.html.twig" %}

{% block operations %}
    {% if entity.status in ['30_awaiting', '10_rejected'] %}
        {% if  entity.assignedTo == app.user.username and entity.status != '10_rejected' %}
        <a href="{{ path(prefix~'_transfer', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.table.action.transfer.tooltip')|trans({}, 'crud') }}">
            <i class="icon-hand-right"></i>
        </a>
        {% elseif entity.assignedTo is null %}
        <a href="{{ path(prefix~'_take', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.table.action.take.tooltip')|trans({}, 'crud') }}">
            <i class="icon-hand-up"></i>
        </a>
        {% endif %}
    {% elseif '40_accepted' == entity.status %}
        <a href="{{ path('ftfs_dashboardbundle_myservice_show', { 'id' : entity.service.id }) }}" rel="tooltip" title="{{ (prefix~'.table.action.show.service.tooltip')|trans({}, 'crud') }}">
            <i class="icon-list-alt"></i>
        </a>
    {% endif %}
    {{ parent() }}
{% endblock %}
