{% extends "FTFSDashboardBundle:MyServiceRequest:index_content.html.twig" %}

{% block operations %}
    {% if entity.status in ['20_unsent', '10_rejected'] %}
        <a href="{{ path(prefix~'_edit', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.edit.tooltip'|trans({}, 'crud') }}">
            <i class="icon-pencil"></i>
        </a>
        {% if removable is defined and removable %}
        <a href="{{ path(prefix~'_delete', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.delete.tooltip'|trans({}, 'crud') }}">
            <i class="icon-trash"></i>
        </a>
        {% endif %}
        {% if entity.status == '20_unsent' %}
        <a href="{{ path(prefix~'_send', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.table.action.send.tooltip')|trans({}, 'crud') }}">
            <i class="icon-envelope"></i>
        </a>
        {% endif %}
    {% endif %}
{% endblock %}
