{% extends "FTFSServiceBundle:ServiceRequest:index_content_table.html.twig" %}

{% block operations %}
    {% if '20_unsent' == entity.status %}
        <a href="{{ path(prefix~'_edit', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.edit.tooltip'|trans({}, 'crud') }}">
            <i class="icon-pencil"></i>
        </a>
        <a href="{{ path(prefix~'_delete', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.delete.tooltip'|trans({}, 'crud') }}">
            <i class="icon-trash"></i>
        </a>
        <a href="{{ path(prefix~'_send', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.table.action.send.tooltip')|trans({}, 'crud') }}">
            <i class="icon-envelope"></i>
        </a>
    {% elseif '10_rejected' == entity.status %}
        <a href="{{ path(prefix~'_edit', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.edit.tooltip'|trans({}, 'crud') }}">
            <i class="icon-pencil"></i>
        </a>
        <a href="{{ path(prefix~'_delete', { 'id' : entity.id }) }}" rel="tooltip" title="{{ 'ftfs.crud.table.action.delete.tooltip'|trans({}, 'crud') }}">
            <i class="icon-trash"></i>
        </a>
    {% endif %}
{% endblock %}
