{% extends 'FTFSCrudBundle:Crud:new_content.html.twig' %}

{% block crud_actions_icons %}
    <a href="javascript: submitform('nosend')" class="btn btn-small" type="submit" rel="tooltip" title="{{ (prefix|replace('_', '.'))~'.form.action.new.save.nosend.tooltip'|trans({}, 'crud') }}" data-placement="bottom">
        <i class="icon-ok"></i>
    </a>
    <a href="javascript: submitform('send')" class="btn btn-small" type="submit" rel="tooltip" title="{{ (prefix|replace('_', '.'))~'.form.action.new.save.send.tooltip'|trans({}, 'crud') }}" data-placement="bottom">
        <i class="icon-envelope"></i>
    </a>
    <a class="btn btn-small" href="{{ path(prefix~'_index') }}" rel="tooltip" title="{{ 'ftfs.crud.form.action.new.cancel.tooltip'|trans({}, 'crud') }}" data-placement="left">
        <i class="icon-list"></i>
    </a>
{% endblock %}

{% block crud_form %}
    <input type="hidden" id="init_mode" name="init_mode" value="nosave">
    {{ parent() }}
{% endblock %}

{% block crud_actions %}
    <div class="btn-toolbar">
        <div class="btn-group dropup">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                Submit
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript: submitform('nosend')">{{ (prefix|replace('_', '.'))~'.form.action.new.save.nosend'|trans({}, 'crud') }}</a>
                </li>
                <li>
                    <a href="javascript: submitform('send')">{{ (prefix|replace('_', '.'))~'.form.action.new.save.send'|trans({}, 'crud') }}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a href="{{ path(prefix~'_index') }}" class="btn">{{ 'ftfs.crud.form.action.new.cancel'|trans({}, 'crud') }}</a>
        </div>
    </div>
{% endblock %}
