{% extends 'FTFSCrudBundle:Crud:new_content.html.twig' %}

{% block crud_actions_icons %}
    <a href="javascript: submitform()" class="btn btn-small" rel="tooltip" title="{{ (prefix~'.form.action.new.save.nosend.tooltip')|trans({}, 'crud') }}" data-placement="bottom">
        <i class="icon-ok"></i>
    </a>
    <a href="javascript: submitform('send')" class="btn btn-small" rel="tooltip" title="{{ (prefix~'.form.action.new.save.send.tooltip')|trans({}, 'crud') }}" data-placement="bottom">
        <i class="icon-envelope"></i>
    </a>
{% endblock %}

{% block crud_form %}
    <input type="hidden" name="redirect" value="">
    {{ parent() }}
{% endblock %}

{% block crud_actions %}
    <div class="btn-group dropup">
        <a class="btn btn-primary" href="javascript: submitform()">
            <i class="icon-ok icon-white"></i>
            {{ (prefix~'.form.action.new.save.nosend')|trans({}, 'crud') }}
        </a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="javascript: submitform('send')">
                    <i class="icon-envelope"></i>
                    {{ (prefix~'.form.action.new.save.send')|trans({}, 'crud') }}
                </a>
            </li>
            <li>
                <a href="javascript: submitform()">
                    <i class="icon-ok"></i>
                    {{ (prefix~'.form.action.new.save.nosend')|trans({}, 'crud') }}
                </a>
            </li>
        </ul>
    </div>

    <script>
        function submitform(redirect_target)
        {
            form = document.forms["{{ prefix~'_form' }}"];
            form.redirect.value = redirect_target;
            form.submit();
        }
    </script>
{% endblock %}
