{% if attachments|length > 0 %}
<div id="attachment-list">
    {{ (prefix~'.attachment.list.title')|trans({}, 'crud') }}
    <ul>
    {% for attachment in attachments %}
    <li>
        <span>
            <a href="{{ path(prefix~'_attachment_download', { 'id' : id, 'attachment_id' : attachment.id }) }}">
                {{ attachment.name }}
            </a>
        </span>
        {% if is_granted('ROLE_ADMIN') or attachment.uploadedBy == app.user %}
        <span>
            <a class="crud-action" crud-message="{{ (prefix~'.attachment.list.delete.confirm')|trans({ '%attachment_name%' : attachment.name }, 'crud') }}" crue-toggle="{{ path(prefix~'_attachment_delete', { 'id' : id, 'attachment_id' : attachment.id }) }}" href="#">
                <i class="icon-trash"></i>
            </a>
        </span>
        {% endif %}
        <span class="muted">
        {{ (prefix~'.attachment.list.updated_by')|trans({}, 'crud') }}
        {{ attachment.uploadedBy }} 
        {{ (prefix~'.attachment.list.at')|trans({}, 'crud') }}
        {{ attachment.uploadedAt | date('Y-m-d H:i:s') }}</span>
    </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if app.user == entity.requestedBy or app.user == entity.assignedTo %}
<div>
    <!-- attachment add control toggle -->
    <span><a class="tic-tac" tic-tac-target="#attachment-upload" href="#">
    <span>
        <i class="icon-chevron-down"></i>
    </span>
    <span class="hide">
        <i class="icon-chevron-up"></i>
    </span>
    <span>
    {{ (prefix~'.attachment.list.attach.new')|trans({}, 'crud') }}
    </span>
    <span class="hide">
    {{ (prefix~'.attachment.list.cancel.attach')|trans({}, 'crud') }}
    </span>
    </a></span>
</div>
{% endif %}

<div id="attachment-upload" class="hide">
    <div id="attachment-upload-ajax">
    <!-- loaded by ajax -->
    {# 
    {% include 'FTFSServiceBundle:ServiceTicketAttachment:upload_form.html.twig' 
            with { 'id' : id, 'prefix' : prefix, } %}
    #}
    </div>
</div>

