<form id="attachment-form" action="{{ path(prefix~'_attachment_upload', { 'id' : id }) }}" 
      method="post" {{ form_enctype(attachment_upload_form) }}>
        {{ form_row(attachment_upload_form.file, { 'label': (prefix~'.attachment.upload.form.file.label')|trans({}, 'crud') }) }}
        <span id="loading"></span>
        {{ form_row(attachment_upload_form.filename, { 'label': (prefix~'.attachment.upload.form.filename.label')|trans({}, 'crud') }) }}
        {{ form_rest(attachment_upload_form) }}
        <a id="attachment-form-submit" href="#" class="btn btn-primary">
            {{ (prefix~'.attachment.upload.form.submit')|trans({}, 'crud') }}
        </a>
</form>

<script>
    $('input[type=file]').change(function(e) {
        var filename = $(this).val().split('\\');
        filename = filename[filename.length - 1];
        $('input#form_filename').val(filename);
    });
    $('a#attachment-form-submit').click(function(e) { 
        e.preventDefault();
        var form = $('form#attachment-form');
        var animation = ajax_animation($('span#loading'));
        form.submit();
        /*
        $.post(form.attr('action'), function(data) {
            form.parent().html(data);
        });
        */
    });
</script>
